servers:
  web:
    hosts:
      - 168.119.158.168
    cmd: tail -f /dev/null

env:
  secret:

healthcheck:
  cmd: exit 0

accessories:
  prometheus:
    image: prom/prometheus:latest
    host: 168.119.158.168
    cmd: |
      --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - /var/lib/prometheus:/prometheus
    files:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
    options:
      user: root
    labels:
      traefik.http.routers.d-reader-backend-prometheus.rule: Host(`prometheus-dreader.bdeak.net`)
      traefik.http.routers.d-reader-backend-prometheus.middlewares: prometheus-auth
      traefik.http.routers.d-reader-backend-prometheus-metrics.rule: Host(`prometheus-dreader.bdeak.net`) && PathPrefix(`/metrics`)
      traefik.http.middlewares.prometheus-auth.basicauth.users: admin:$apr1$UvJWlU7j$f/dutPyM47ffowAhW8t1n/

  grafana:
    image: grafana/grafana:latest
    host: 168.119.158.168
    volumes:
      - /var/lib/grafana:/var/lib/grafana
    options:
      user: root
    labels:
      traefik.http.routers.d-reader-backend-grafana.rule: Host(`grafana-dreader.bdeak.net`)

  loki:
    image: grafana/loki:latest
    host: 168.119.158.168
    cmd: |
      -config.file=/etc/loki/config.yaml \
      -config.expand-env=true
    volumes:
      - /var/lib/loki:/data/loki
    files:
      - ./config/loki.yml:/etc/loki/config.yaml
    options:
      user: root
    labels:
      traefik.http.routers.d-reader-backend-loki.rule: Host(`loki-dreader.bdeak.net`)
      traefik.http.routers.d-reader-backend-loki.middlewares: loki-auth
      traefik.http.routers.d-reader-backend-loki-metrics.rule: Host(`loki-dreader.bdeak.net`) && PathPrefix(`/metrics`)
      traefik.http.middlewares.loki-auth.basicauth.users: admin:$apr1$VYEoR4vN$xuHqBa.x9wMiGdC5h9YKW1
