.mail {
  font-family: Arial;
  max-width: 620px;
  padding: 24px 4px;
  margin: 0 auto;
}

.mail tr {
  width: 100%;
  height: min-content;
}

.mail th,
.mail td {
  text-align: center;
}

h1 {
  margin: 16px 0;
}

p {
  margin: 8px 0;
}

.yellow-bg {
  background-color: #fceb54;
}

.green-bg {
  background-color: #49c187;
}

.main {
  color: #000;
  margin-bottom: 56px;
}

.title h1 {
  font-size: 28px;
  font-weight: bold;
}

.content p {
  font-size: 18px;
  color: #000;
}

.action-link {
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  padding: 16px;
  white-space: nowrap;
  text-align: center;
  color: #000;
  text-decoration: none;
  min-width: 160px;
  display: inline-block;
  margin-bottom: 24px;
}

.action-link:hover {
  filter: brightness(1.4);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  padding: 16px 0;
}

.footer-link {
  cursor: pointer;
  height: 24px;
  width: auto;
  line-height: 24px;
}

.footer-link img {
  vertical-align: middle;
}

.footer-links>*:not(:last-child) {
  margin-right: 24px;
}

.copyright,
.privacy-policy {
  color: #777d8c;
  font-size: 16px;
  margin: 8px 0;
  margin-top: 0;
}

.privacy-policy-link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  color: #777d8c;
}

.nota-bene {
  font-size: 14px;
  font-style: italic;
  color: #777d8c;
}