doctype html
html
  head
    link(rel="stylesheet" href="../styles/base.css")
  body
    .mail
        header
            include ../assets/icon.svg
            .content
                block content
        
        footer
            .socials 
                - const svgFilenames = ['web.svg', 'discord.svg', 'twitter.svg', 'email.svg'];
                each filename in svgFilenames
                    img(src=`../assets/${filename}`)
            p.  
                Copyright © 2023 dReader d.o.o. All rights reserved<br/>View our <span class="privacy-policy">Privacy Policy</span><br/><br/>
                <span class="security-text">This email contains important information about your dReader account and cannot be unsubscribed from.

