block title
    h1(style='font-size: 28px; font-weight: bold; margin: 16px 0;') Hello #{name}

block content
    p(style='font-size: 18px; margin: 8px 0;') Your series "#{comicTitle}" have been verified!
    p(style='font-size: 18px; margin: 8px 0;') It means that the content has been approved by our team, and might soon be published on our platform 🎉
    p(style='font-size: 18px; margin: 8px 0;') Congrats, you're now 200% cooler than a moment ago.