h3 Welcome #{name}! 🎉
p Welcome to the <strong>digital comic revolution</strong>
p Thank you for supporting <strong>dReader</strong> in early phases and helping us find a new home for comics - blockchain

p To verify your email, please visit the following link: #{verificationUrl}
