extends creatorBase.pug

block title
    h1 Hello #{name}

block content
    p You have requested an email verification
    br
    p Please verify your email by clicking on the button below

block action
    a(href=actionUrl) Verify email