extends creatorBase.pug

block title
    h1(style='font-size: 28px; font-weight: bold; margin: 16px 0;') Hello #{name}

block content
    p(style='font-size: 18px; margin: 8px 0;') Your account has been verified!

