extends creatorBase.pug

block title
    h1(style='font-size: 28px; font-weight: bold; margin: 16px 0;') Hello #{name}

block content
    p(style='font-size: 18px; margin: 8px 0;') You have requested an email verification
    br
    p(style='font-size: 18px; margin: 8px 0;') Please verify your email by clicking on the button below

block action
    a.action-link.green-bg(href=actionUrl) Verify email
