link(rel="stylesheet" href=`${apiUrl}/styles/base.css`)

div.mail
    header.header
        div.logo
    main.main
        div.title
            block title
        div.content
            block content
        div.action.green-bg
            block action
    footer.footer
        div.footer-links
            a.footer-link.footer-link--web(href="https://dreader.io/links")
            a.footer-link.footer-link--discord(href="https://discord.gg/rrZsRvC9mh")
            a.footer-link.footer-link--twitter(href="https://x.com/dPublisherApp")
            a.footer-link.footer-link--mail(href="mailto:support@dreader.io")
        p.copyright Copyright © 2023 dReader d.o.o. All rights reserved
        p.privacy-policy View our <a class="privacy-policy-link">Privacy Policy</a>
        p.nota-bene This email contains important information about your dPublisher account and cannot be unsubscribed from.
