extends base.pug

block title
    h1 Welcome #{name} 🎉

block content
    p Your Creator account has been set up.
    p Thank you for helping us find a new home for comics - blockchain
    br
    p To verify your email, click on the button below

block action
    a(href=actionUrl) Verify email