extends userBase.pug

block title
    h1 You're in! ✅

block content
    p Thanks for subscribing to our newsletter!
    p We'll make sure to keep you up to date with all the important events and releases.
    br
    p Subscribed by mistake? Unsubscribe by clicking the button below

block action
    a(href=actionUrl) Unsubscribe