extends base.pug

block title
    h1 Bye bye 👋

block content
    p You've successfully unsubscribed from our newsletter!
    p Hope you're happy now 🥲
    br
    p If this was a mistake, resubscribe again by clicking the button below

block action
    a(href=actionUrl) Subscribe