extends userBase.pug

block title
    h1 Welcome #{name}!

block content
    p Your account has been created.
    p Thank you for helping us find a new home for comics - blockchain
    br
    p To verify your email, click on the button below

block action
    a(href=actionUrl) Verify email