extends userBase.pug

block title
    h1(style='font-size: 28px; font-weight: bold; margin: 16px 0;') Welcome #{name}!

block content
    p(style='font-size: 18px; margin: 8px 0;') Your account has been created.
    p(style='font-size: 18px; margin: 8px 0;') Thank you for supporting the indie creator economy!
    br
    if actionUrl  
        p(style='font-size: 18px; margin: 8px 0;') To verify your email, click on the button below


block action
    if actionUrl 
        a.action-link.yellow-bg(href=actionUrl) Verify email
