extends userBase.pug

block title
    h1(style='font-size: 28px; font-weight: bold; margin: 16px 0;') Goodbye #{name}!

block content
    p(style='font-size: 18px; margin: 8px 0;') Your User account has been deleted.
    p(style='font-size: 18px; margin: 8px 0;') Thank you for giving us a shot.
    br
    p(style='font-size: 18px; margin: 8px 0;') If this action wasn't done by you, please reach us at support@dreader.io