extends userBase.pug

block title
    h1(style='font-size: 28px; font-weight: bold; margin: 16px 0;') Hello #{name}!

block content
    p(style='font-size: 18px; margin: 8px 0;') Your email has been updated 📧
    p(style='font-size: 18px; margin: 8px 0;') If you haven't triggered this action, please reach out to support@dreader.io as soon as possible