name: Deploy

on:
  push:
    branches:
      - dev
      - main

  workflow_dispatch:

jobs:
  docker_build:
    name: Docker build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/bdeak4/d-reader-backend:latest,ghcr.io/bdeak4/d-reader-backend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: docker_build

    strategy:
      matrix:
        solana-cluster: [devnet, mainnet]
      fail-fast: false

    environment:
      name: ${{ github.ref_name }}-${{ matrix.solana-cluster }}
      url: https://api-${{ github.ref_name }}-${{ matrix.solana-cluster }}.dreader.io

    concurrency:
      group: ${{ github.ref_name }}-${{ matrix.solana-cluster }}
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3'
          bundler-cache: true

      - name: Setup mrsk
        run: |
          gem install mrsk

      - name: Setup sops
        uses: mdgreenwald/mozilla-sops-action@v1.4.1

      - name: Setup age
        run: |
          mkdir -p ~/.config/sops/age
          echo "$AGE_SECRET_KEY" > ~/.config/sops/age/keys.txt
        env:
          AGE_SECRET_KEY: ${{ secrets.AGE_SECRET_KEY }}

      - name: Setup ssh-agent
        run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock

      - name: Run mrsk
        run: |
          ./config/scripts/mrsk.sh $ENV lock release
          ./config/scripts/mrsk.sh $ENV deploy --roles web --skip-push
        env:
          ENV: ${{ github.ref_name }}-${{ matrix.solana-cluster }}
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
